.home-content {
  position: relative;
}

.home-content-table {
  width: 100%;
}

.home-content-table_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid #ccc;
}

.home-content-table_header p {
  color: #000;
}

.home-content-table_header input {
  padding: 6px 20px;
  margin-right: 10px;
  outline: none;
  border: 1px solid #0298cf;
  border-radius: 6px;
  color: #0298cf;
}

button {
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
}

.home-content-table_header p {
  font-size: 20px;
}

.home-content-table_header .btn-search {
  padding: 7px 20px;
  color: #fff;
  background-color: #0298cf;
}

.home-content-table_header .btn-card-add {
  color: #fff;
  font-size: 20px;
  min-width: 80px;
  background-color: #009e00;
  padding: 4px 0;
  margin-right: 15px;
  transition: all 0.15s ease;
}

.home-content-table_header .btn-card-add:hover {
  opacity: 0.9;
}

.home-content-table_section {
  height: 85vh;
  overflow: auto;
}

.home-content-table_section table {
  width: 100%;
  table-layout: fixed;
  min-width: 1000px;
  border-collapse: collapse;
}

.home-content-table_section thead th {
  position: sticky;
  top: 0;
  background-color: #f6f9fc;
  color: #8493a5;
  font-size: 15px;
}

.home-content-table_section thead th,
.home-content-table_section tbody td {
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  word-break: break-word;
  text-align: center;
}

.home-content-table_section tbody td img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 15px;
  border: 5px solid #ced0d2;
  display: inline-block;
}

.home-content-table_section tr:hover td {
  color: #0298cf;
  cursor: pointer;
  background-color: #f6f9fc;
}

.home-content-table_section tbody td a:nth-child(1) button {
  background-color: #fbb03b;
}

.home-content-table_section tbody td a:nth-child(2) button {
  background-color: #0298cf;
}

.home-content-table_section tbody td a:nth-child(3) button {
  background-color: #ed1c24;
}

.home-content-table_section tbody td button:hover {
  opacity: 0.8;
  color: #000;
}

.home-content-table_section tbody td .button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content-table_section tbody td button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  color: #fff;
  transition: all 0.4s ease;
}

.home-content-table_section tbody td button i {
  font-size: 20px;
}
/* End table */
.form-layout-wrap {
  width: calc(100% - 240px);
  margin-left: 240px;
}

.form-layout-header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid #ccc;
}

.form-layout {
  padding: 20px;
  margin: 8px auto;
  width: 80%;
  border-radius: 6px;
  border: 1px solid #112b3c;
}

.form-layout p {
  font-size: 18px;
  margin-bottom: 24px;
  text-align: center;
}

.form-field-wrap {
  display: flex;
}

.form-child-1 {
  width: calc(50% - 5px);
}
.form-child-2 {
  width: calc(50% - 5px);
  margin-left: 10px;
}

.form-field {
  position: relative;
}

.form-field textarea {
  padding-top: 16px;
  height: 80px;
}
.form-input {
  padding: 0 20px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  transition: 0.25s ease;
}

.form-input:hover {
  border-color: #112b3c;
}

.form-input:focus {
  border-color: #112b3c;
}

.form-input.message_error {
  border-color: #ed1c24;
}

.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
  top: 0;
  padding: 0 10px;
  display: inline-block;
  background-color: white;
  color: #112b3c;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 21px;
  transform: translateY(-50%);
  user-select: none;
  color: #999;
  pointer-events: none;
  transition: 0.25s ease;
}

.add-product {
  margin-bottom: 10px;
}

.form-select {
  padding-top: 10px;
}

.form-select .form-select-child:nth-child(1) {
  width: calc(50% - 5px);
}

.form-select .form-select-child:nth-child(2) {
  width: calc(50% - 5px);
  margin-left: 6px;
}

.form-select-child {
  padding: 12px 20px;
  border: 1px solid #eee;
  color: #112b3c;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.form-select-child:hover {
  border-color: #112b3c;
}

.form-select-child:focus {
  border-color: #112b3c;
}

.form-select-child.message_error {
  border-color: #ed1c24;
}

.form-file-wrap {
  margin-top: 12px;
  position: relative;
  margin-bottom: 40px;
}

.form-file-wrap #form-file {
  z-index: -1;
}

.form-file-wrap .form-label-file {
  font-size: 22px;
  padding: 8px 28px;
  border-radius: 6px;
  background-color: #112b3c;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  margin-top: -4px;
  left: 0;
  color: #fff;
}

.form-file-wrap .form-label-file:hover {
  background-color: #112b5c;
}

.btn-wrap {
  display: block;
  text-align: right;
}

.btn-wrap-child {
  background-color: #0298cf;
  min-width: 90px;
  color: #fff;
}

.btn-wrap-link {
  background-color: #ced0d2;
  padding: 7px 20px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.btn-wrap-link i {
  font-size: 20px;
  margin-right: 4px;
}

.btn-wrap-link:hover {
  opacity: 0.8;
}

.home-content-table_header .home-content-table_header-link {
  background-color: #ced0d2;
  padding: 7px 20px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content-table_header .home-content-table_header-link:hover {
  opacity: 0.8;
}

.home-content-table_header .home-content-table_header-link i {
  font-size: 20px;
  margin-right: 2px;
}

/* details */
.info-details {
  padding: 20px;
  margin: 30px 50px;
  border-radius: 6px;
  border: 1px solid #112b3c;
}
.info-details-heading {
  text-align: center;
  font-size: 22px;
  letter-spacing: 0.4px;
}
.info-details-child {
  margin-top: 20px;
  padding-bottom: 10px;
  display: flex;
}

.info-details-child-text {
  position: relative;
  font-size: 18px;
  border: 1px solid #000;
  padding: 14px 20px;
  width: 100%;
  border-radius: 6px;
  display: block;
  margin-right: 5px;
}

.info-details-child-text-label {
  font-size: 16px;
  position: absolute;
  top: -14px;
  left: 20px;
  padding: 0 10px;
  background-color: #fff;
}

.info-details-link-wrap {
  width: 100%;
  text-align: center;
  margin-top: 26px;
}

.info-details-link {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #999;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  transition: 0.4s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.info-details-link i {
  font-size: 24px;
}

.info-details-link:hover {
  opacity: 0.8;
  color: #000;
}

.form-confirm-delete {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8493a5;
  display: inline-block;
  padding: 10px;
  z-index: 99;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form-confirm-delete p {
  padding: 10px;
  font-size: 18px;
  color: #000;
}

.form-confirm-delete-btn {
  margin-top: 20px;
  text-align: right;
}

.form-confirm-delete-btn-child {
  display: inline-block;
  margin-left: 6px;
  padding: 8px 16px;
  transition: all 0.2s ease;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.form-confirm-delete-btn-child:hover {
  opacity: 0.7;
}

.form-confirm-delete-btn .form-confirm-delete-btn-child:first-child {
  background-color: #ed1c24;
  color: #fff;
}

.form-confirm-delete-btn .form-confirm-delete-btn-child:last-child {
  background-color: #ccc;
  color: #000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.4;
  z-index: 10;
}

/* input  messages */
.form-messages {
  margin-left: 4px;
  font-size: 15px;
  font-weight: 300;
  color: red;
  display: inline-block;
}

.header-user-main {
  position: relative;
  justify-content: center;
}

.header-user-main-text {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
